.header {
    border: 2px solid purple;
    margin-bottom: 20px;
}

.section {
    border: 2px solid purple;
    margin-bottom: 20px;
}

.div {
    border: 2px solid purple;
    margin-bottom: 20px;
}

.backgroundblue {
    background-color: rgb(171, 213, 241);


}
.bgred {
    background-color: rgb(171, 213, 241);


}
.ImgCen {
    content: attr();

}
.he1 {
    font-family: 'Sriracha', cursive;
    font-size: 50px;
    color: rgb(214, 136, 33);
}
.he2 {
    font-family: 'Sriracha', cursive;
    font-size: 45px;
}
.kanit-medium-italic {
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-style: medium;
}


.ibm-plex-sans-thai-extralight {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-sans-thai-light {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-sans-thai-regular {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-sans-thai-medium {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-sans-thai-semibold {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-sans-thai-bold {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.profilex{
  text-align: center;
  
}
.imgpro{
  width: 150px;
  font-weight: 50%;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
}